
.link {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  display: inline-block;
  text-decoration: none; */
  text-decoration: none;
  font-size: 1.4rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
 
 }
.card {
  background-color: hsla(0, 0%, 100%, 0.815);
  color: #000000;
  box-sizing: content-box;
  width: 20%;
  font-size: 12px;
  /* border: solid aquamarine 3px; */
  padding: 0px;
  margin: 10px;
  border-radius: 3%;
  width: 400px;
  height: 600px;
  
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  overflow: hidden;
  transition-property:  box-shadow,transform;
  transition-duration: 1.3s;
}

.temperaments {
  font-size: 1rem;
  display: inline-block;
  margin-right: 3px;
}
.temperaments2 {
  border: solid aquamarine 2px;
  border-radius: 15px;
  background-color: aquamarine;
  padding: 1px 12px;
  
  
}
.img {
  height: 300px;
  width: 400px;
  /* border: solid aquamarine 2px; */
  /* border-radius: 50%;  */
  /* margin-top: 10px; */
  display: inline-block;
  /* filter: brightness(1); */
   filter: saturate(152%);
  /* filter: contrast(120%);   */
  /* clip-path: inset(0 8% 0 8%); */
  /* clip-path: inset(0 0.5% 0 0%); */
  
}
.w {
  display: inline-block;
  font-size: 1rem;
}
