@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap");
.menuUl{
    list-style: none;
    background-color: transparent;
    display: flex;
    padding-left: 0px;
    margin-top: 0px;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-between;
    /* width: 100%; */
}

.home2{
    border: none;
    
    box-shadow: 2px 4px 15px -8px rgba(0,0,0,1);
    font-size: 1rem;
    color: rgb(0, 0, 0);
    
    background-color: transparent;
    padding: 5px;
    border-radius: 3%;
    margin-right: 1px;
  
    text-transform: uppercase; 
    font-family: 'Secular One';
    width: 1.5rem;
    font-size: 1.5rem;
    height: 54%;
}

.li{
    /* display: inline-block; */
    /* text-align: center; */
    
}
.ul1{
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin-bottom: 15px;
    

}

.btn{
    border: none;
    box-shadow: 2px 4px 15px -8px rgba(0,0,0,1);
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 5px;
    border-radius: 3%;
    text-transform: uppercase; 
    font-family: 'Secular One';
    margin-left: 35px;
    
}
.btn:hover,.home:hover, .home2:hover{
    transform: translateY(-13%);
    background-color: aquamarine; 
}