@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap");

.menuUl{
    list-style: none;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    /* width: 200%; */
    padding-left: 0px;
    margin-top: 0px;
    align-items:baseline;
    align-content: space-between;
  
    min-width:  100%;
}
/* .li:hover{
  background-color: aquamarine;
  color: aquamarine
  
} */
.select{
    border: none;
    box-shadow: 1px 1px 11px black;
    background-color: transparent;
    font-size: 1.2rem;
    margin-left: 25px;
    font-family: 'Secular One';
    cursor:pointer;
    padding: 10px;
    outline: none;
}
.option{
  
  padding-right: 50px; 
}
.container{
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    transition-property: transform;
    transition-duration: 1.3s;
}
.container:hover{
    transform: translateY(-18%);
    
}
 .select:hover{
   background-color: aquamarine;
   /* color: aquamarine; */
}
/*.container:active{
  color: aquamarine;
}
.select:active{
  color: aquamarine;
}*/
/* .option:active{
    background-color: aquamarine;
    color: aquamarine;
}  */